*.a
*.o
*.lib
*.obj
*.pdb
*.dll
*.ilk
*.suo
*.exe
*.exe.manifest
*.log
*.res
.DS_Store
.vs
tests/_test*
build

# CLion
# https://www.jetbrains.com/help/idea/run-debug-configuration.html#templates
/.idea/*
!/.idea/runConfigurations
!/.idea/fileTemplates
!/.idea/fileColors.xml
!/.idea/cmake.xml
!/.idea/shelf
/.idea/shelf/Uncommitted*
