[submodule "third_party/pixman"]
	path = third_party/pixman
	url = https://github.com/aseprite/pixman.git
[submodule "third_party/simpleini"]
	path = third_party/simpleini
	url = https://github.com/aseprite/simpleini.git
