body, h2 {
 font-family: Segoe UI, Arial;
}

h2 {
 font-size: 14pt;
 font-weight: normal;
 color: #669;
}

#console {
 border:8px solid #eee;
 background-color:#eee;
 width:80%;
 height:128px;
 overflow:auto;
}
