[Desktop Entry]
Type=Application
Name=Aseprite
GenericName=Sprite Editor
GenericName[ru]=Редактор спрайтов
GenericName[uk]=Редактор спрайтів
Comment=Animated sprite editor & pixel art tool
Comment[ru]=Редактор анимированных спрайтов и инструмент для пиксель-арта
Comment[uk]=Редактор анімованих спрайтів та інструмент для піксель-арту
Icon=aseprite
Categories=Graphics;2DGraphics;RasterGraphics;
Exec=aseprite %U
TryExec=aseprite
Terminal=false
StartupNotify=false
StartupWMClass=Aseprite
Keywords=graphics;drawing;image;art;animation;editor;pixel;retro;sprite;2d;
Keywords[ru]=graphics;drawing;image;art;animation;editor;pixel;retro;sprite;2d;графика;рисование;изображение;арт;анимация;редактор;пиксель;ретро;спрайт;2Д;
Keywords[uk]=graphics;drawing;image;art;animation;editor;pixel;retro;sprite;2d;графіка;малювання;зображення;арт;анімація;редактор;піксель;ретро;спрайт;2Д;
MimeType=image/bmp;image/gif;image/jpeg;image/png;image/x-pcx;image/x-tga;image/vnd.microsoft.icon;video/x-flic;image/webp;image/x-aseprite;
